* {
  background-color: rgb(20, 32, 36);
  color: #d9d9d9;
  font-family: "Raleway", sans-serif;
}

body {
  color: #d9d9d9;
}

header {
  color: white;
  font-size: xx-large;
  font-family: "Raleway", sans-serif;
  height: 19vh;
  width: 100vw;
  padding-left: 2%;
  border-bottom: 2px white solid;
  text-align: center;
}

header > div {
  font-size: large;
  height: 20%;
}

.main {
  top: 10%;
}

.container {
  max-width: 100%;
}

/* Style the submit button */
#searchButton {
  position: absolute;
  margin-top: 4%;
  margin-left: 0%;
  float: left;
  width: 20%;
  background: transparent;
  color: #f1f1f1;
  font-size: 30px;
  border: none;
  border-left: none;
}

#searchAndHist {
  position: relative;
}

#searchForm {
  position: absolute;
  height: 8%;
  width: 100%;
  padding-top: 26%;
}

#locationSearch {
  font-size: 17px;
  float: left;
  background: #f1f1f1;
  width: 78%;
  height: 36px;
  margin: 6% 1%;
  border: 1px solid white;
}

#historyList {
  color: white;
  font-size: large;
  text-align: center;
  width: 100%;
  height: 50%;
  margin-left: 1%;
  position: relative;
  top: 20%;
}

#history {
  overflow-y: scroll;
  max-height: 80%;
  width: 95%;
}

.histBtn {
  background: transparent;
  color: #68707f;
  font-size: medium;
  border: solid;
  border-radius: 5px;
  margin: 2% auto;
  width: 87%;
  height: 10%;
}

.todayWeatherBox {
  width: 100%;
  height: 30%;
}

#todayWeather {
  width: 92%;
  border: white solid 1px;
  border-radius: 7px;
  height: 70%;
  left: 1vw;
  position: relative;
}

#todayWeather > img {
  max-width: 10rem;
  max-height: 9rem;
  margin-top: 5%;
}

.fiveDaysForecastBox {
  width: 100%;
  height: 70%;
}

.FDFcard {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 7px;
  margin: 1%;
}

.row {
  margin: 0%;
}

.clearHist {
  position: relative;
  background-color: transparent;
  border-radius: 50%;
  width: 17%;
  height: 0;
  padding-top: 100%;
  margin-top: 9%;
  left: 41.5%;
}

.clearHistBtn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 17%;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 767) {
}
